<div class="p-10">
  <div class="flex items-center justify-center">
    <h1 class="font-semibold text-3xl mb-5">Listado de Usuarios</h1>
  </div>
  <table class="border-collapse w-full">
    <thead>
      <tr>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          N.
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          Nombre
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          Nombre Completo
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          Correo
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          Telefono
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          Edad
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          F. Nac
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          ConfigId
        </th>
        <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0"
        *ngFor="let user of users; let items=index">
        <td
          class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
          {{items + 1}}
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
          {{user.name}}
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static">
          {{user.fullName}}
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static">
          {{user.email}}
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static">
          {{user.phone}}
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static">
          {{user.age}}
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static">
          {{user.dateOfBirth}}
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static bg-green-400"
          *ngIf="user.setting_id == 1">
          Admin
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static bg-indigo-400"
          *ngIf="user.setting_id == 2">
          Person
        </td>
        <td
          class="w-full lg:w-auto p-3 text-gray-800 border border-b text-center block lg:table-cell relative lg:static">
          <a href="#" class="text-blue-400 hover:text-blue-600 underline">Edit</a>
          <a href="#" class="text-blue-400 hover:text-blue-600 underline pl-6">Remove</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>